{% extends "layout.html" %}
{% block title %}Welcome To Twic{% endblock %}
{% block page_name %}dash{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-4"> <!-- user panel -->
        <div class="row"> <!-- username -->
            <div class="col-xs-12">
                {% if not session.logged_in %}
                    <a href="#"><h4> No User </h4></a>
                {% else %}
                    <a href="#"><h4> {{ session['user']['name'] + ' ' + '@' + session['user']['username'] }} </h4></a>
                {% endif %}
            </div>
        </div>
        <div class="btn-group row">
            <div class="col-xs-4">
                <button type="button" id="tweet-count" class="btn btn-success">{{ user.msg_count }}
                    Twics</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-success">{{ user.follower_count }}
                    Followers</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-success">{{ user.following_count }}
                    Following</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <noscript>
                        <form action="{{ url_for('add_message') }}" method="post">
                    </noscript>
                    <textarea placeholder="Compose Twic" id="twit-msg" class="form-control"
                              name="message"></textarea>
                    <input id="user_id" type="hidden" value="{{ session['user']['id'] }}"/>
                    <button id="post-msg-btn" class="btn btn-primary">POST</button>
                    <noscript>
                        </form>
                    </noscript>
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-xs-12">
                <h4>Trending</h4>
                <ul class="trends">
                    <li><a href="#">#FranklinUniversity</a></li>
                    <li><a href="#">#ThingsToDoWithString</a></li>
                    <li><a href="#">#MarvelUniverse</a></li>
                    <li><a href="#">#GuildWars2</a></li>
                    <li><a href="#">#JavaSucks</a></li>
                    <li><a href="#">#TheWalkingDead</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-xs-7">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Twics</h4></div>
                <div id="msg-area" class="panel-body">
                {% if search_results %}
                    {% for result in search_results %}
                        <ul>
                            <li><h4><a
                                href="{{ url_for('dash') }}/user_id/{{ result.user_id }}">@{{ result.username + ' ' + result.name }}</a>
                            </h4></li>
                            <li>
                                <button id="post-msg-btn" class="btn btn-primary">Profile</button>
                                <button id="post-msg-btn" class="btn btn-primary">Follow</button>
                            </li>
                        </ul>
                    {% endfor %}
                {% elif user.msg_count %}
                    {% for message in messages %}
                        <ul>
                            <li><h4><a href="{{ url_for('dash') }}/user_id/{{ message.user_id }}/msg_id/{{ message.id }}#{{ message.posted_time }}">{{ message.formatted_time }}</a></h4></li>
                            <li><p>{{ message.message }}</p></li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-eye-open"> View</span></a>
                                <a href="#"> <span class="glyphicon glyphicon-share-alt"> Reply</span></a>
                                <a href="#"> <span class="glyphicon glyphicon-retweet"> Retwic</span></a>
                                <a href="#"> <span class="glyphicon glyphicon-heart"> Favorite</span></a>
                            </li>
                        </ul>
                    {% endfor %}
                {% else %}
                    <p>You have no Twics. Post something!</p>
                {% endif %}
                    <div><a href="#">More</a></div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}