<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen" />

    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" media="screen"
          type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet" media="screen"
          type="text/css">
</head>
<body id="{% block page_name %}{% endblock %}">
<div id="wrap">
    <!-- Static navbar -->
    <div class="header navbar navbar-default navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">Twit Clone</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="{{ url_for('dash') }}">Home</a></li>
                    <li class=""><a href="#">Settings</a></li>
                    <!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Menu <b
                                                class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/">Dropdown 1</a></li>
                                                <li><a href="/">Dropdown 2</a></li>
                                                <li><a href="/">Dropdown 3</a></li>
                                                <li><a href="/">Dropdown 4</a></li>
                                            </ul>
                                        </li>-->
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('login') }}">{% block logout %}{% endblock %} Login</a></li>
                    <li><a href="{{ url_for('registration') }}">{% block user %}{% endblock %} Register</a></li>
                </ul>
                <form action="{{ url_for('login') }}" class="navbar-form navbar-right" method="post">
                    <button type="submit" class="btn btn-primary ">Search</button>
                    <input type="text" placeholder="Enter a Search" class="form-control">

                </form>
            </div>
        </div>
    </div>
    <!-- End of static navbar -->

    <div class="container">
        {% block content %}{% endblock%}
    </div>
    <!-- container -->
</div>
<!-- wrap -->
<div id="footer">
    <div class="container">
        <p class="text-center text-muted credit bottom">&copy;2013 Twit Clone LLC</p>
    </div>
</div>
<!-- /container -->

<!-- JavaScript plugins (requires jQuery) -->
<!--[if gte IE 9]><!-->
<script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
<![endif]-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/holder.js') }}"></script>

</body>
</html>