{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block logout %}Logout{% endblock %}
{% block user %}Doug Moreland{% endblock %}
{% block page_name %}registration{% endblock %}
{% block content %}
<div class="panel panel-default">

    <div class="panel-heading">
        <ul class="breadcrumb-primary breadcrumb panel-title">
            <li><a href="{{ url_for('dash') }}">Home</a></li>
            <li><a href="{{ url_for('registration') }}">Registration</a></li>
        </ul>
    </div>

    <div class="signup-form">
        {% if not true %} <!-- TODO: if no errors do this -->

            <div class="row text-center">
                <h1>Account Registration Success!</h1>

                <p><a href="/">Return to the front page.</a></p>
            </div>

        {% else %}

            {% if error %}

                <ul>
                {% for err in error %}
                    <li>{{ err }}</li>
                {% endfor %}
                </ul>

            {% endif %}

            <form method="post" action="/register/register" class="form-horizontal">


                <div class="control-group">

                    <label class="control-label" for="name">Name <sup>*</sup></label>

                    <div class="controls">

                        <input class="form-control" required name="name" type="text" id="name"
                               placeholder="Full Name">

                    </div>

                </div>

                <div class="control-group">

                    <label class="control-label" for="username">Username <sup>*</sup></label>

                    <div class="controls">

                        <input class="form-control" required name="username" type="text" id="username"
                               placeholder="Desired Username">

                    </div>

                </div>

                <div class="control-group">

                    <label class="control-label" for="email">Email <sup>*</sup></label>

                    <div class="controls">

                        <input class="form-control" required name="email" type="email" id="email"
                               placeholder="Email">
                    </div>

                </div>
                <div class="control-group">

                    <label class="control-label" for="password">Password <sup>*</sup></label>

                    <div class="controls">

                        <input class="form-control" required name="password" type="password" id="password"
                               placeholder="Password">

                    </div>

                </div>



                <p><sup>*</sup>Required field </p>

                <div class="control-group">
                    <div class="controls">
                        <input type="hidden" name="email_create" value="1">
                        <input type="hidden" name="is_new_customer" value="1">
                        <input class="btn btn-large btn-success" type="submit" value="Register"/>
                    </div>
                </div>
            </form>

        {% endif %}
    </div>
</div>
{% endblock %}